* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.container{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: calc(100vh);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(130,196,215,1) 26%, rgba(117,189,209,1) 46%, rgba(86,172,196,1) 84%, rgba(73,165,191,1) 100%);
}
.container > div{
    position: relative;
}
.ml-pane{
    position: absolute;
    overflow: hidden;
    z-index:100;
    height: 100%;
    width: 100%;
    box-shadow: -2px 3px 22px 2px rgba(0,0,0,0.75);
    background: #000;
}
video,canvas{
    position: absolute;
}
video{
    object-fit: cover;
}
.ml-pane .status{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 200;
    background: red;
    top: 10px;
    right: 10px;
}

.ml-pane .muteToggle{
    position: absolute;
    height: 45px;
    width: 20px;
    border-radius: 16%;
    z-index: 900;
    background: red;
    right: 9px;
    top: 59px;
}
.countText{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 50%;
    transform: translate(0, -50%);
    text-align: center;
}
.countText h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 9rem;
    transform: translate(-50%,-50%);
    font-weight: 100;
}
.rightSidebar{
    display: flex;
}
.errorTextContainer{
    padding: 3rem 1.5rem;
    flex:1;
}
.errorTextContainer h3{
    font-weight: 300;
    font-size: 2rem;
    margin: 24px 0;
    border-left: 5px solid red;
    padding: 0 0 0 20px;
}
.timerContainer{
    position: absolute;
    height: 150px;
    width: 100%;
    bottom: 0;
    font-weight: 300;
    font-size: 5rem;
    line-height: 150px;
    text-align: center;
}