* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
      position: relative;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
.container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: calc(100vh);
    background: linear-gradient(135deg, rgba(147,206,222,1) 0%, rgba(130,196,215,1) 26%, rgba(117,189,209,1) 46%, rgba(86,172,196,1) 84%, rgba(73,165,191,1) 100%);
}
.container > div{
    position: relative;
}
.ml-pane{
    position: absolute;
    overflow: hidden;
    z-index:100;
    height: 100%;
    width: 100%;
    box-shadow: -2px 3px 22px 2px rgba(0,0,0,0.75);
    background: #000;
}
video,canvas{
    position: absolute;
}
video{
    object-fit: cover;
    transform: scaleX(-1);
}
.ml-pane .status{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 200;
    background: red;
    top: 10px;
    right: 10px;
}

.ml-pane .muteToggle{
    position: absolute;
    height: 45px;
    width: 20px;
    border-radius: 16%;
    z-index: 900;
    background: red;
    right: 9px;
    top: 59px;
}
.leftSidebar .title{
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin-top: 2rem;
    color: #444;
    text-transform: uppercase;
    line-height: 86px;
}
.countText{
    position: absolute;
    top: 46%;
    width: 100%;
    height: 150px;
    transform: translate(0, -50%);
    text-align: center;
    overflow: hidden;
}
.countText h1{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 12rem;
    transform: translate(-50%,-50%);
    font-weight: 350;
}
.rightSidebar{
    display: flex;
    flex-direction: column;
}
.errorTextContainer{
    padding: 3rem 1.5rem;
    flex:1;
}
.errorTextContainer h3{
    font-weight: 400;
    font-size: 2rem;
    margin: 24px 0;
    border-left: 5px solid red;
    padding: 0 0 0 20px;
}
.timerContainer{
    height: 160px;
    width: 100%;
    bottom: 115px;
    font-weight: 350;
    font-size: 5rem;
    line-height: 75px;
    text-align: center;
}
.timeText{
    margin-left:1.5rem;
    font-size: 1.5rem;
}
.imgContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.imgContainer img{
    max-width: 80%;
    max-height: 100%;
}

/* Pop up */
.summaryReport{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 200;
    display: none;
}
.summaryReport .backdrop{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: 0.85;
    z-index: 99;
}
.summaryBody{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 400px;
    width: 600px;
    border-radius: 5px;
    z-index: 100;
    padding: 10px;
    text-align: center;
}
.summaryBody h1{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 350;
    color: #aaa;
}
.summaryBody h2{
    font-size: 2rem;
    margin-bottom: 0rem;
    font-weight: 350;
    color: #fff;
}

.summaryBody h3{
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: orange;
}